/************* HEADER ***************/
.header-component{
  color: blue;
  background-color: pink;
}

/************* FOOTER ***************/
.footer-component{
  color: yellow;
  background-color: black;
}